@import "tailwindcss";

:root {
  --background: #e9e9e3;
  --foreground: #6F6F6E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-anna-500: #a20f0c;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #e9e9e3;
    --foreground: #6F6F6E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Arsenal", sans-serif; */
}
